<h2>Inscription à la newsletter</h2>
<form action="/subscribers/create" method="POST">
    <div class="form-group">
        <label for="name">Nom complet</label>
        <input type="text" class="form-control" id="name" name="name" required>
    </div>
    <div class="form-group">
        <label for="email">Email</label>
        <input type="email" class="form-control" id="email" name="email" required>
    </div>
    <div class="form-group">
        <label for="zipCode">Code Postal</label>
        <input type="text" class="form-control" id="zipCode" name="zipCode" pattern="\d{5}" required>
    </div>
    <button type="submit" class="btn btn-primary">S'abonner</button>
</form>
